@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
html {
  --primary-color: hsl(161, 94%, 30%);
  --secondary-color: hsl(45, 93%, 47%);
  --bg-color: hsl(204, 94%, 94%);
  --strong-text-color: hsl(240, 4%, 16%);
  --regular-text-color: hsl(240, 5%, 26%);
  --light-text-color: hsl(240, 5%, 96%);
}

html[data-theme='dark'] {
  --primary-color: hsl(200, 98%, 39%);
  --secondary-color: hsl(45, 93%, 47%);
  --bg-color: hsl(204, 94%, 94%);
  --strong-text-color: hsl(240, 4%, 16%);
  --regular-text-color: hsl(240, 5%, 26%);
  --light-text-color: hsl(240, 5%, 96%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Cabin', sans-serif;
  text-decoration: none;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 1fr;
      grid-template-columns: 250px 1fr;
  -ms-grid-rows: 175px 1fr;
      grid-template-rows: 175px 1fr;
      grid-template-areas: "nav header" "nav main";
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--bg-color);
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
}

.nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  color: var(--light-text-color);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--primary-color);
  z-index: 2;
}

.nav header h3 {
  font-size: 1.7rem;
  padding: 0.3em 0.75em;
}

.nav .top-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav ul {
  list-style: none;
  padding: 1em 0;
}

.nav a {
  color: var(--light-text-color);
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0.3em 0.75em;
  display: block;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.nav a span {
  padding-right: 0.5em;
}

.nav a:hover {
  font-weight: 700;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.header {
  background-color: white;
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.header .top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  padding: 1em 3em;
  font-size: 1.2rem;
  gap: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .top-bar .search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header .top-bar .search-input input[type=search] {
  max-width: 500px;
  border-radius: 1em;
  font-size: 1.2rem;
  background-color: #e0e0e0;
  border: none;
  outline: none;
  padding: 0.2em 1em;
  width: 100%;
}

.header .top-bar .search-input label {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  color: var(--strong-text-color);
}

.header .top-bar .top-bar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  gap: 25px;
}

.header .top-bar .top-bar-right a {
  color: var(--strong-text-color);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header .top-bar .top-bar-right a:hover {
  color: var(--primary-color);
}

.header .top-bar .top-bar-right img {
  max-width: 45px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  width: 100%;
}

.header .top-bar-2 {
  border-top: 1px solid #bbbbbb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  padding: 1em 3em;
  font-size: 1.2rem;
  gap: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .top-bar-2 .top-bar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 25px;
}

.header .top-bar-2 .top-bar-left img {
  max-width: 75px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  width: 100%;
}

.header .top-bar-2 .top-bar-left p {
  font-size: 0.7rem;
  color: var(--regular-text-color);
}

.header .top-bar-2 .top-bar-left a {
  color: var(--strong-text-color);
  font-weight: 700;
  font-size: 1.5rem;
}

.header .top-bar-2 .top-bar-left a:hover {
  text-decoration: underline;
}

.header .top-bar-2 .top-bar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  gap: 25px;
}

.header .top-bar-2 .top-bar-right button {
  background-color: var(--primary-color);
  padding: 0.5em;
  border: none;
  color: var(--light-text-color);
  border-radius: 2em;
  width: 100px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  font-weight: 700;
  font-size: 1rem;
}

.header .top-bar-2 .top-bar-right button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main {
  margin: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 300px;
      grid-template-columns: 1fr 300px;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "content announcement" "content trending";
  overflow-y: auto;
}

.main h3, .main h4 {
  color: var(--strong-text-color);
}

.main p {
  color: var(--regular-text-color);
  font-size: 0.9rem;
}

.main .main-content {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: content;
}

.main .main-content .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 2em;
}

.main .main-content .cards .item {
  margin-top: 0.5em;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  padding: 1.2em;
  min-width: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main .main-content .cards .item p {
  font-size: 1.1rem;
}

.main .main-content .cards .item p:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .main-content .cards .item p:last-of-type a {
  color: var(--regular-text-color);
  padding: 0 0.3em;
  font-size: 1.3rem;
  -webkit-transition: color 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, color 0.3s;
  transition: transform 0.3s, color 0.3s, -webkit-transform 0.3s;
}

.main .main-content .cards .item p:last-of-type a:hover {
  -webkit-transform: rotate(720deg) scale(1.2);
          transform: rotate(720deg) scale(1.2);
  color: var(--primary-color);
}

.main .main-content .cards .item:hover {
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

.main .announcement, .main .trending {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: announcement;
  margin: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 0.5em;
  overflow-y: hidden;
}

.main .announcement .card, .main .trending .card {
  margin-top: 0.5em;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.2em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
}

.main .announcement .card .item, .main .trending .card .item {
  border-top: 1px solid #bbbbbb;
  padding: 1em 0.5em;
}

.main .announcement .card .item:first-of-type, .main .trending .card .item:first-of-type {
  border: none;
}

.main .announcement .card .item:hover h4, .main .trending .card .item:hover h4 {
  text-decoration: underline;
}

.main .trending {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: trending;
}

.main .trending .card .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  padding: 0.25em;
}

.main .trending .user-image img {
  width: 45px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
}
/*# sourceMappingURL=main.css.map */