@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
html{
    --primary-color: hsl(161, 94%, 30%);
    --secondary-color: hsl(45, 93%, 47%);
    --bg-color: hsl(204, 94%, 94%);
    --strong-text-color: hsl(240, 4%, 16%);
    --regular-text-color: hsl(240, 5%, 26%);
    --light-text-color: hsl(240, 5%, 96%);
}
html[data-theme='dark'] {
    --primary-color: hsl(200, 98%, 39%);;
    --secondary-color: hsl(45, 93%, 47%);
    --bg-color: hsl(204, 94%, 94%);
    --strong-text-color: hsl(240, 4%, 16%);
    --regular-text-color: hsl(240, 5%, 26%);
    --light-text-color: hsl(240, 5%, 96%); 
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Cabin', sans-serif;
    text-decoration: none;
}